@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f3e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}


.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    height: 45px;
    margin: 35px 0
}

.button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

    .button :hover {
        /* transform: scale(0.99); */
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

form {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 80%;
}

    form .user-login {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 15px 0 12px 0;
    }

    form .input-box span.details {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }
.input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}



input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #9b59b6;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    width: 381px;
    max-width: 100%;
    min-height: 550px;
    top: 0px;
    left: 19px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

form .button {
    height: 45px;
    margin: 0 0
}

    form .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

        form .button input:hover {
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }


@media(max-width: 650px) {
    .log-in-container {
        left: 0;
        width: 100%;
    }

    .container {
        max-width: 375px;
    }
}
